:root {
  // шрифты
  --font-roboto: Roboto, sans-serif;

  // цвета и градиенты
  --black: #000000;
  --white: #ffffff;
  --purple: #8b75c8;
  --purple-dark: #251c41;
  --green: #97d413;
  --green-2: #0db10a;
  --green-3: #34c900;
  --text-color: #313131;
  --stroke: #e7e7e7;
  --red: #da0101;

  // transitions
  --general-transition: all 0.25s ease;
}
